/*'Roboto', sans-serif;
  'Raleway', sans-serif; */

body {
  color: #212121;
  background-color: #fff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

/* ========= Section ========= */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container {
  background-color: burlywood;
}
/* ========= Header =========  */

.header .container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo-blue {
  color: #2196f3;
}

.navigation-menu {
  display: flex;
  margin-left: 100px;
}

.navigation-menu-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-menu-link,
.header-contacts-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-menu-link:hover,
.navigation-menu-link:focus {
  color: #2196f3;
}

.header-contacts-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #2196f3;
}

.header .address {
  display: flex;
  margin-left: auto;
}
.contacts:not(:last-child) {
  margin-right: 50px;
}

/* ========= Hero ========= */

.hero-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  /* color: #ffffff; */
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

/* ========= features ========= */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-headlines {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
}

.section-text {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ========= example ========= */

.example-headlines,
.section-team-headlines {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

/* ========= team ========= */

.team-name,
.team-position {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.team-position {
  color: #757575;
}

/* ========= Footer ========= */
.footer-address,
.footer-contacts {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-address {
  font-style: normal;
}

/* .contact-address {
  color: #ffffff;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}
*/

/* ========= Студия ========= */

.filters-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
}

.filters-button:hover,
.filters-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.projects-heading {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-description {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}
